<h1>Users</h1>

<% if flash[:error] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:error] %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= form_tag users_import_path, method: :post, multipart: true, class: 'form-inline' do %>
  <%= label_tag 'file', 'Import Users CSV File', class: 'font-weight-bold my-1 mr-2' %>
  <%= file_field_tag 'file', class: 'my-1 mr-sm-2', required: true %>
  <%= submit_tag 'Send', class: 'btn btn-primary my-1 mr-sm-2' %>
<% end %>

<%= form_tag tracks_import_path, method: :post, multipart: true, class: 'form-inline' do %>
  <%= label_tag 'file', 'Import Tracks CSV File', class: 'font-weight-bold my-1 mr-2' %>
  <%= file_field_tag 'file', class: 'my-1 mr-sm-2', required: true %>
  <%= submit_tag 'Send', class: 'btn btn-primary my-1 mr-sm-2' %>
<% end %>

<%= form_tag playlists_import_path, method: :post, multipart: true, class: 'form-inline' do %>
  <%= label_tag 'file', 'Import Paylists CSV File', class: 'font-weight-bold my-1 mr-2' %>
  <%= file_field_tag 'file', class: 'my-1 mr-sm-2', required: true %>
  <%= submit_tag 'Send', class: 'btn btn-primary my-1 mr-sm-2' %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Username</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td><%= link_to 'Playlists', user_playlists_path(user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
